<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dragolandia</property>
        <property name="hibernate.connection.username">dam2user</property>
        <property name="hibernate.connection.password">1234..</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="modelo.Mago" />
        <mapping class="modelo.Monstruo" />
        <mapping class="modelo.Bosque" />

    </session-factory>
</hibernate-configuration>